.carousel-container {
  display: flex;
  align-items: center;

  margin: 0 auto;

  padding: 15px;
  max-width: 640px;
}

.gallery-wrapper {
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.gallery {
  display: flex;
}

.left-arrow,
.right-arrow {
  font-size: 3em;
  color: red;
  opacity: 0.1;
  transition: all 0.4s ease-in-out;
}

.left-arrow:hover,
.right-arrow:hover {
  opacity: 1;
}

.gallery-image {
  width: 600px;
  height: 320px;
  opacity: 0.6;
  transition: all 0.4s ease-in-out;
}

.current-image {
  opacity: 1;
}
