.main {
    height: 92vh;
    max-width: 50em;
    margin: 0 auto;
    padding: 2.5em 1.25em;
}

h2 {
    color: white;
    font-size: 6em;
    display: inline-block;
}

h4 {
    color: white;
    font-size: 1.5rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
}

.container-infos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.25em;
    border: 0.06em solid black;
}
  
.title-main {
    color: black;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1.25em;
}

.tragedy-description-section {
    margin-top: 1.5em;
    margin-bottom: 1.875em;
}

.tragedy-description-title {
    color: #333333;
    font-size: 1.25rem;
    margin-bottom: 0.625em;
    font-weight: 700;
    display: inline-block;
}
p {
    color: #333333;
    font-size: 1rem;
    display: inline-block;
    margin: 0;
    padding: 0;
    text-align: justify;
    margin-bottom: 0.06em;
}